.venv/
artifacts/
__pycache__/
*.pyc
.DS_Store
Sigma7/Mac/
Sigma7/build/
Sigma7/sigma7interface/build/
tools/build/
MUJOCO_LOG.TXT
models/generated/
.cache/
.mplconfig/
output/
sdk-3.7.3
models/scenes/runtime_*.xml
models/scenes/*.tmp
Sigma7/ATT*.html
Sigma7/sigma7interface/*.pro.user
